.calendar {
  width: 100%;
}

.button {
  font-size: large;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

.button_div {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.tr {
  align-content: top;
  width: 10%;
  height: 120px !important;
  border: 2px solid;
}

.td {
  align-content: top;
  height: 100px;
  width: 10%;
}

.today {
  align-content: top;
  height: 100px;
  width: 10%;
  background-color: rgb(143, 143, 143);
}

.date {
  padding-top: 10px;
}

.a_div {
  font-size: smaller;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.a_div:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: darkgray;
}

.a {
  position: relative;
  width: 100%;
  color: white;
}

.a:hover {
  color: white;
}

.h_div {
  padding-left: 5px;
  border-radius: 10px;
}

.h_div:hover {
  background-color: darkgray;
  cursor: pointer;
}

.no_padding {
  padding: 0px;
}
