.container {
  width: 50%;
  background-color: gray;
  margin-top: 5%;
  padding: 20px;
  border-radius: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  color: white;
}
.header {
  text-decoration: underline;
}
.bold {
  font-weight: bolder;
}
